<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
    <header th:replace="layout/header :: common-header"></header>
    <body>
        <div th:replace="layout/navbar :: navbar"></div>
        <div layout:fragment="content">
            <h1>Content</h1>
        </div>
        <div th:replace="layout/footer :: body-bottom-scripts"></div>
    </body>
</html>