<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns: layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Grocefy</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3 th:text="${list.name}">Nazwa listy</h3>
            </div>
            <div class="row col-md-7 table-responsive ">
                <table id="items" class="table">
                    <thead>
                    <tr>
                        <th>Lp</th>
                        <th>Ilość</th>
                        <th>Jednostka</th>
                        <th>Produkt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, rowStat : ${items}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${rowStat.index}+1">1</td>
                        <td th:text="${item.count}">Ilosc</td>
                        <td th:text="${item.unit}">Jednostka</td>
                        <td th:text="${item.product}">Produkt</td>
                        <td><img th:src="@{/images/del.png}" th:width="24" th:height="24"> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-md-7">
                <form th:action="@{/list/edit/}+${list.hash}" th:method="post" th:object="${newItem}">
                    <input type="number" th:step="0.1" th:field="*{count}"/>
                    <select th:field="*{unit}">
                        <option th:each="unit : ${units}" th:value="${unit.name()}" th:label="${unit.name()}">bla
                        </option>
                    </select>
                    <input type="text"  th:name="product">
                    <input type="submit" class="button btn-success" value="+"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
