
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      layout:decorate="layout/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div align="center">

            <form th:action="@{/login}" method="post" th:object="${loginInfo}">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" th:field="*{username}"/>
                </div>
                <br/>
                <div class="form-group">
                    <label>Password</label>
                    <input th:type="password" th:field="*{password}"/>
                    <br/>
                </div>
                <button th:type="submit">Login</button>
            </form>

        </div>
    </div>
</div>


</body>
</html>