<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns: layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Grocefy</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Dodaj produkt</h3>
            </div>
            <div class="col-sm-12">
                <div th:if="${productCount > 0}" class="alert alert-danger" ><h3>Podany produkt już istnieje w bazie danych.</h3></div>
                <form th:action="@{/products}" th:method="post" th:object="${newProduct}">
                    <input th:type="text" th:field="*{name}"/>
                    <input type="submit" th:value="Dodaj" class="button btn-success">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Lista produktów</h3>
            </div>
            <div class="col-sm-12">

                <div class="table-responsive">
                    <div class="alert alert-info" th:if="${products.size() == 0}"><h3>Lista jest pusta</h3></div>
                    <table id="listTable" class="table">
                        <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Nazwa</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product, rowStat : ${products}" th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                            <td th:text="${rowStat.index}+1">1</td>
                            <td th:text="${product.name}">lista</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>